[submodule "grendelShares"]
	path = grendelShares
	url = https://github.com/johnfire/grendelShares.git
[submodule "grendelSmallPrograms"]
	path = grendelSmallPrograms
	url = https://github.com/johnfire/grendelSmallPrograms.git
