
msgPath = "/media/grendelData102/GrendelData/grendelMsgs/"
fotoPath = "/media/grendelData102/GrendelData/grendelFotos/"
audioPath = "/media/grendelData102/GrendelData/grendellAudio/"
grendelOtherData = "/media/grendelData102/GrendelData/grendelOtherData/"
grendelPeopleData = "/media/grendelData102/GrendelData/grendelPeopleData/"
processFotoPath ="/media/grendelData102/lowLevelPrograms/processFoto.py "

